<html>
    <body>
    
        <form action="/next" method = "POST">
          
          <div class="form-group">
            <label for="exampleInputEmail1">New Command</label>
            <input type="input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="new_command">
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword1">action</label>
            <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Password" name="new_info">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </body>
</html>